<div class="search-box">
  <form id="search-form-desktop" action="/search" method="get" class="search-header search pc" role="search">
    <button id="search-button-desktop" class="search-header__submit search__submit btn--link site-header__icon pc" type="submit">
      <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000000"><circle cx="28" cy="28" r="20"/><line x1="56" y1="56" x2="42.14" y2="42.14"/></svg>
    </button>
      <input id="search-input-desktop" class="search-header__input search__input pc"
      type="search"
      name="q"
      placeholder="Search Products & Brands"
      aria-label="{{ 'general.search.placeholder' | t }}">
  <!--     <input type="hidden" name="type" value="product,article" /> -->
  </form>
</div>