<div class="blog-header-container">
  <div class="blog-heading">Blog</div>
  <div class="blog-header-nav">
    
<!--     <ul class="blog-header-list">
      <li style="display:inline-block;"><a href="/blogs/the-edit?cat=asktheexperts">Ask the Experts</a></li>
      <li style="display:inline-block;"><a href="/blogs/the-edit?cat=beauty">Beauty</a></li>
      <li style="display:inline-block;"><a href="/blogs/the-edit?cat=haircare">Hair Care</a></li>
      <li style="display:inline-block;"><a href="/blogs/the-edit?cat=hotproducts">Hot Products</a></li>
      <li style="display:inline-block;"><a href="/blogs/the-edit?cat=newsandevents">News and Events</a></li>
      <li style="display:inline-block;"><a href="/blogs/the-edit?cat=skincare">Skin Care</a></li>
      <li style="display:inline-block;"><a href="/blogs/the-edit?cat=suncare">Sun Care</a></li>
    </ul> -->
    
  </div>
</div>
  
</style>
{% schema %}
  {
    "name": "Blog Header",
    "presets": [
      {
        "name": "Blog Header"
      }
    ]
  }
{% endschema %}