<div id="double-image-cta-container">
  <div class="image-cta lazy" id="double-image-cta-1" role="img" aria-label="Woman in white collared sleeveless top and black gloves tipping her black hat as she looks down">
    <a href="/collections/weekly-promo-collection" class="double-image-cta-link">SHOP NOW</a>
    <div class="double-image-cta-content">
      <span class="double-image-cta-heading">SHEILA'S<br>DRAWER</span>
      <span class="double-image-cta-subheading">Explore Dr. Nazarian’s favorite products this season!</span>
    </div>
    
  </div>
  <div class="image-cta lazy" id="double-image-cta-2" role="img" aria-label="Dr. Sheila Nazarian poses in white sleeveless top">
    <a href="/pages/rewards" class="double-image-cta-link">JOIN NOW</a>
    <div class="double-image-cta-content">
      <span class="double-image-cta-heading">JOIN OUR<br>LOYALTY<br>PROGRAM</span>
      <span class="double-image-cta-subheading">Join our Loyalty Program & Earn Beauty Buck</span>
    </div>
    
  </div>
</div>

{% schema %}
{
  "name": "Double Image CTA",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Double Image CTA"
    }
  ]
}
{% endschema %}