<!--homepage-collections-2.liquid----------------->
<div id="collections-2-container"> 
  <span class="homepage-heading">BRANDS</span>
  <div id="collections-2-grid-container"> 
    <div class="collections-2-col" id="collection-2-col-1">
      <a href="/collections/alastin-skincare"class="collections-2-link">Alastin Skincare</a>
      <a href="/collections/sente"class="collections-2-link">SENTE Skincare</a>
      <a href="/collections/skinceuticals"class="collections-2-link">SkinCeuticals</a>
      <a href="/collections/kayo"class="collections-2-link">KAYO Body Care</a>
      <a href="/collections/precision-medical-products"class="collections-2-link">Ortho8</a>
      <a href="/collections/environ-skincare"class="collections-2-link">Environ Skincare</a>
      <a href="/collections/jaxon-lane"class="collections-2-link">Jaxon Lane</a>
      <a href="/collections/biopelle"class="collections-2-link">Biopelle Skincare</a>
      <a href="/collections/nazarianhair"class="collections-2-link">NazarianHair</a>
      <a href="/collections/is-clinical"class="collections-2-link">iS Clinical</a>
      <a href="/collections/biojuve"class="collections-2-link">Biojuve Skincare</a>
      <a href="/collections/latisse"class="collections-2-link">Latisse</a>
    </div>
    <div class="collections-2-col" id="collection-2-col-2">
      <a href="/collections/silagen-1"class="collections-2-link">Silagen</a>
      <a href="/collections/bluestone"class="collections-2-link">Bluestone Sunshields</a>
      <a href="/collections/clinical-resolution"class="collections-2-link">Clinical Resolution Lab - CRL</a>
      <a href="/collections/propatch"class="collections-2-link">ProPatch+</a>
      <a href="/collections/epionce"class="collections-2-link">Epionce</a>
      <a href="/collections/nuface"class="collections-2-link">NuFACE Skincare</a>
      <a href="/collections/skinmedica"class="collections-2-link">SkinMedica</a>
      <a href="/collections/upneeq"class="collections-2-link">Upneeq</a>
      <a href="/collections/dr-nazarian-swag"class="collections-2-link">Nazarian Swag</a>
      <a href="/collections/knesko-skin"class="collections-2-link">Knesko Skincare</a>
      <a href="/collections/emc"class="collections-2-link">EMC</a>
      <a href="/collections/power-plate"class="collections-2-link">Power Plate</a>
    </div>
    <div class="collections-2-col" id="collection-2-col-3">
      <a href="/collections/nutrafol"class="collections-2-link">Nutrafol Hair Growth Products</a>
      <a href="/collections/envy-pillow"class="collections-2-link">enVy Pillow</a>
      <a href="/collections/defenage"class="collections-2-link">DefenAge Skincare</a>
      <a href="/products/lasercap-lasercap-hd"class="collections-2-link">LaserCap</a>
      <a href="/collections/pca-skin"class="collections-2-link">PCA Skincare</a>
      <a href="/collections/ocumend"class="collections-2-link">Ocumend</a>
      <a href="/collections/lightstim"class="collections-2-link">LightStim Products</a>
      <a href="/collections/mesolyft"class="collections-2-link">MesoLyft Skincare</a>
      <a href="/collections/obagi"class="collections-2-link">Obagi Skincare</a>
      <a href="/collections/zensa"class="collections-2-link">Zensa Skincare</a>
       <a href="/collections/vfit-plus"class="collections-2-link">Joylux Skincare</a>
       <a href="/collections/nazarianenhance"class="collections-2-link">Nazarian Enhance</a>
    </div>
    <div class="collections-2-col" id="collection-2-col-4">
      
      <a href="/collections/nazarianskin"class="collections-2-link">Nazarian Skincare</a>
      <a href="/collections/sculptpatch"class="collections-2-link">SculptPatch</a>
      <a href="/collections/saian"class="collections-2-link">Saian Skincare</a>
      <a href="/collections/aquavit-skinworkout-collection"class="collections-2-link">Aquavit - SKINWORKOUT</a>
      <a href="/collections/cysteamine"class="collections-2-link">Cyspera</a>
      <a href="/collections/revision"class="collections-2-link">Revision Skincare</a>
       <a href="/collections/lumity"class="collections-2-link">Lumity</a>
       <a href="/collections/eltamd"class="collections-2-link">EltaMD Skincare</a>
       <a href="/products/rise-ai-giftcard"class="collections-2-link">The Skin Spot- Gift Card</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collections 2",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Collections 2"
    }
  ]
}
{% endschema %}