<!--homepage-collections-1.liquid---------------->
<div id="collections-1-container"> 
  <span id="collections-1-heading" class="homepage-heading">SHOP BY CATEGORY</span>
  <div id="collections-1-grid-container"> 
    <div class="collections-1-col" id="collection-1-col-1">
      <a href="/collections/pregnant-nursing"class="collections-1-link" id="collections-1-link-1">PREGNANACY</a>
      <a href="/collections/sunscreen-spf"class="collections-1-link">SUNSCREEN + SPF</a>
    </div>
    <div class="collections-1-col" id="collection-1-col-2">
      <a href="/collections/hyaluronic-acids"class="collections-1-link">HYALURONIC ACIDS</a>
      <a href="/collections/acne-blemishes"class="collections-1-link">ACNE</a>
    </div>
    <div class="collections-1-col" id="collection-1-col-3">
      <a href="/collections/scar-reduction"class="collections-1-link">SCAR REDUCTION</a>
      <a href="/collections/growth-factors"class="collections-1-link">GROWTH FACTORS</a>
    </div>
    <div class="collections-1-col" id="collection-1-col-4">
      <a href="/collections/dry-skin"class="collections-1-link">DRY SKIN</a>
      <a href="/collections/hair-growth"class="collections-1-link">HAIR GROWTH</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collections 1b",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Collections 1b"
    }
  ]
}
{% endschema %}