<div class="klaviyo-section-container">
  <div class="klaviyo-header">Stay Up to Date and Receive 15% off Your First Purchase on the Skin Spot by Signing Up for Email and Text Communication</div>
  <div class="klaviyo-form-YmSNta"></div>
</div>

{% schema %}
  {
    "name": "Klaviyo Subscribe",
    "presets": [
      {
        "name": "Klaviyo Subscribe"
      }
    ]
  }
{% endschema %}