<footer>
  <div id="footer-headline-container">
    <span id="footer-headline">FOLLOW US ON</span>
  </div>
  <div id="footer-line-container">
    <hr id="footer-line">
  </div>
  <div id="social-media-icons-container">
    <a target="_blank" href="https://www.facebook.com/theskinspotbeverlyhills/"><img loading="lazy" alt="The Skin Spot Facebook" class="footer-social-link footer-fb-link" src="{{ 'facebook-icon.svg' | asset_url }}"></a>
    <a target="_blank" href="https://www.instagram.com/theskinspot/"><img loading="lazy" alt="The Skin Spot Instagram" class="footer-social-link footer-ig-link" src="{{ 'ig-icon.svg' | asset_url }}"></a>
    <a target="_blank" href="https://www.pinterest.com/the_skin_spot/"><img loading="lazy" alt="The Skin Spot Pinterest" class="footer-social-link footer-pinterest-link" src="{{ 'icons8-pinterest (3).svg' | asset_url }}"></a>
    <a target="_blank" href="https://www.youtube.com/TheSkinSpot"><img loading="lazy" alt="The Skin Spot Youtube" class="footer-social-link footer-yt-link" src="{{ 'yt-icon.svg' | asset_url }}"></a>
  </div>
  <div id="site-map-container">
    <div id="footer-categories">
      <span class="site-map-header">CATEGORIES</span>
      <a href="https://theskinspot.com/pages/shop">Shop</a>
      <a href="https://theskinspot.com/pages/concerns">Concerns</a>
      <a href="https://theskinspot.com/pages/brands">Brands</a>
      <a href="https://theskinspot.com/collections/prescription-products">Prescription Products</a>
      <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/theskinspot/30min?hide_gdpr_banner=1'});return false;">FREE Skin Consultation</a>
      <a href="https://theskinspot.com/blogs/the-edit">The Edit</a>
    </div>
    <div id="footer-support">
      <span class="site-map-header">SUPPORT</span>
      <a href="https://theskinspot.com/pages/legal-notices">Legal Notices</a>
      <a href="https://theskinspot.com/pages/contact-us">Submit Inquiry</a>
      <a href="https://theskinspot.com/pages/contact-us">Customer Service</a>
      <a href="https://theskinspot.com/pages/faq">FAQ</a>
      <a href="https://theskinspot.com/pages/return-policy">Return & Refund Policy</a>
      <a href="https://theskinspot.com/pages/legal-notices">Terms & Services</a>
      <a href="https://theskinspot.com/pages/shipping-policy">Shipping Policy</a>
    </div>
    <div id="footer-my-account">
      <span class="site-map-header">MY ACCOUNT</span>
      <a href="https://theskinspot.com/apps/iwish">Favorites</a>
      <a href="https://theskinspot.com/account/login">Order History</a>
      <a href="https://theskinspot.com/pages/return-policy">Returns</a>
      <a href="https://theskinspot.com/cart">Shopping Cart</a>
      <a href="https://theskinspot.com/pages/contact-us">Contact Us</a>
      <a href="https://theskinspot.com/pages/rewards">Loyalty Program</a>
    </div>
    <div id="footer-subscribe">
      <span class="site-map-header">Sign Up For Our Newsletter</span>
      <span id="footer-subscribe-description">
        Stay Up to Date and Receive 15% off Your First Purchase on the Skin Spot by Signing Up for Email and Text Communication
      </span>
      <div class="klaviyo-form-RLfiBu"></div>
      <span id="footer-subscribe-fine-print">
        By submitting this form, you are consenting to receive marketing emails from The Skin Spot. You can revoke your consent to receive emails at any time by using the SafeUnsubscribe® link, found at the bottom of every email. Emails are serviced by Klaviyo.
      </span>
    </div>
  </div>
  <span id="footer-fine-print">
    © Copyright 2023 The Skin Spot | Designed & Managed by Titanium Marketing | All Rights Reserved | Legal Notices
  </span>
</footer>

<style>
  
</style>