<div id="skin-quiz-banner-container" class="lazy" role="img" aria-label="Young woman with clear and healthy skin smiling and touching her cheek">
  <div id="banner-content">
    <span id="banner-header">SCHEDULE YOUR <br>COMPLIMENTARY<br>CONSULTATION TODAY</span>
    <span id="banner-subheader">Your Custom Skincare<br>Regimen Awaits</span>
    <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/theskinspot/15min?hide_gdpr_banner=1'});return false;" id="banner-cta">BOOK NOW</a>
  </div>
</div>
{% schema %}
{
  "name": "Skin Quiz Banner",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Skin Quiz Banner"
    }
  ]
}
{% endschema %}