@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {font-family: 'Montserrat', sans-serif;}

.container { max-width: 1160px;}

h1, h2, h3, h4, h5, h6 {font-family: 'Playfair Display', serif;}
h2 {font-family: 'Montserrat', sans-serif;font-size: 24px; font-weight: 500 }
h3 {font-family: 'Montserrat', sans-serif;font-size: 18px; font-weight: 600; text-transform: uppercase; color: #BE6F62; margin-bottom: 20px}

p { font-size: 13px; margin-bottom: 20px}

.template-page p, .template-article p, .template-page li, .template-article li{
  font-size: 18px;
}
.s_blog h3{
  font-size: 0.8em;
    line-height: 1.5em;
}

a.btn {font-family: 'Montserrat', sans-serif; border: solid 1px transparent !important;  font-style: normal; letter-spacing: 0; text-transform: uppercase; font-weight: bold;background: rgb(152,77,67);background: linear-gradient(90deg, rgba(152,77,67,1) 0%, rgba(194,112,99,1) 68%, rgba(87,34,26,1) 100%); color: #fff !important ; border-radius: 0; border: none; padding: 10px 20px; font-size: 15px;}
a.btn:hover  { background: #fff; color: #BE6F62 !important; border: solid 1px #BE6F62!important;  }

a.btn-normal { background:#BE6F62;padding: 7px 15px; font-size: 14px;}
a.btn-inverse{ background: #fff; color: #BE6F62 !important; border: solid 1px #BE6F62!important;
  padding: 7px 25px; font-size: 14px;}

a.btn-lg {padding: 15px 80px; font-size: 18px;}

.row.equal {display: flex;  flex-wrap: wrap;  align-items: center; }


header {background: #fff; z-index: 100; position: relative;}
header .top {height: 40px; background: #000;}
header .head-site { padding: 30px 0}
header .head-site img { width: 100%; max-width: 250px}
header .head-site input { border-radius: 0; border: none; border-bottom: solid 1px #000; font-style: italic; padding: 10px 60px 10px 0}
header nav .container { display: flex;flex-direction: row;justify-content: space-between;}
header nav .container a { font-size: 15px; font-weight: 500; color: #000; padding: 20px 0}


footer { background: #F5E2DB; background-size: contain; margin-top: 100px}
footer .content { height: 200px; padding: 30px 0}

#footer .list-footer{z-index: 100; position: relative;}


#shopify-section-1625849080f00ec301 .desktop_img {width: 100%; background-size: cover;}
.main-about.desktop {	background: url("https://cdn.shopify.com/s/files/1/0066/5681/9236/products/AboutUs_picture.jpg?v=1653476720") no-repeat center center;background-size: cover; padding: 100px 0 }
.main-about h1 { font-size: 90px; font-style: italic;color:#ffffff;}
.main-about.mobile { display:none; margin-bottom:40p;}
@media (max-width: 749px) {
  .main-about.desktop { display:none }
  .main-about.mobile { display:block}
  .main-about.mobile img { width:100%; height:100%}

}

.main-quiz {	background: url("img/Skin-Quiz_Banner-bg.jpg") no-repeat center center;background-size: cover;text-align: center;  padding: 80px 0;}
.main-quiz h1 { font-size: 90px;font-weight:700;}
.main-quiz h2 { text-transform: uppercase; font-weight: 600; font-size: 20px; margin-bottom: 40px}

.main-edit  {  padding: 80px 0;}
.main-edit h1 { font-size: 90px;  font-weight:bold; text-align: center}
.main-edit h1 span { font-style: italic}


.main-edit-interior { margin-bottom: 120px;background: rgb(245,226,220);background: linear-gradient(0deg, rgba(245,226,220,1) 70%, rgba(255,255,255,1) 70%); padding: 30px 0; }
.main-edit-interior h1 { font-size: 38px;  padding: 20px 0; font-weight:bold;}
.main-edit-interior h1 span { font-style: italic}
.main-edit-interior h2 { font-weight: bold; font-size: 32px}
.main-edit-interior img { width: 100%;margin: 0 0 -50px 0;box-shadow: 0 0 20px 5px #f5e2dc;}

.more { text-align: center; padding: 50px 0;}


.about-content { overflow: hidden}
.about-content .row { padding: 100px 0}
.about-content img { width: 100%; box-shadow: 0 0 20px 5px #f5e2dc; z-index: 10; position: relative}
.about-content hr { position: absolute; width: 10000px;border-top: 1px solid #BE6F62;}
hr.hr-right{ right: 0}


.edit-content hr { border-top: solid 1px #BE6F62;}
.edit-content img { width: 100%; box-shadow: 0 0 20px 5px #f5e2dc; margin-bottom: 30px}


.main-page { text-align: center; padding: 100px 0;}
.main-page h2 {text-transform: uppercase;}


.content .accordion .card {	margin-bottom: 20px;border-radius: 0;border: none;background: none;box-shadow: 0 0 8px 2px #f5e2dc;}
.content .accordion .card .card-header {background: none;  border: none;  padding: 0px;}
.content .accordion .card .card-header .btn {width: 100%;  text-align: left; padding: 20px; display: block; font-size: 18px; /*font-style: normal;*/text-transform: uppercase; color: #BE6F62; font-weight: bold;border:none;}
.content .accordion .card .card-header .btn { background: url(https://cdn.shopify.com/s/files/1/0563/8340/6248/files/FAQ_Less_icon.svg?v=1624644697) no-repeat 97% 50%;background-size: 20px !important;}
.content .accordion .card .card-header .collapsed { background: url(https://cdn.shopify.com/s/files/1/0563/8340/6248/files/FAQ_More_icon.svg?v=1624644697) no-repeat 97% 50%;}

.card-body p {text-align:left;}

.content .accordion .card-header h2 {margin-top:10px;}

/*BLOG BTN HOVER
a.article__comment-count.btn.btn--tertiary.btn--small:hover, a.btn.btn--tertiary.btn--small:hover  {
    background: linear-gradient(
90deg
, rgba(152,77,67,1) 0%, rgba(194,112,99,1) 68%, rgba(87,34,26,1) 100%);
}
*/
.skinquizsticky{
    font-size: 100%;
    position: fixed;
    z-index: 2147483647;
    bottom: 30px;
    max-width: calc(100vw - 200px);
    max-height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    right: 10px;
    align-items: flex-end;
}

@media (min-width: 750px) {
.custom__item--41737324-a897-4a9d-8f3e-1407f5f1a957,
.custom__item--be1d8ec0-3d35-431c-b405-22e07f64cefb {
    width:50% !important; display:inline-block; float:left !important;
  }
  /*QUIZ ANSWER WIDTH*/
  #quiz .answers .answer{width: 455px!important}
}

/** BANNERS HOME **/

div#shopify-section-rev_slider-1 {display: none;}


/*PRODUCT IMG ALIGN*/
div#shopify-section-162586732979247f35 {margin-bottom: 50px;}

.home-featured-products .product-item .visual{height: 250px; display: flex; justify-content: center; align-items: center;}

.home-featured-products .product-item img {margin: auto;}

@media (max-width: 749px) {
  .custom__item--41737324-a897-4a9d-8f3e-1407f5f1a957,
  .custom__item--be1d8ec0-3d35-431c-b405-22e07f64cefb {


  }
  /*QUIZ ANSWER WIDTH*/
  #quiz .answers .answer{width: 80%!important}
}


/*CONCERNS*/
.concerns-card-header{font-style:normal !important; padding-left: 30px !important;}
.concerns-card-header:hover, .concerns-card-header:active{text-decoration: none !important;}
.concerns-body{margin-bottom: 30px; padding: 0 60px 0 30px; text-align:left; }
.concerns-body p{line-height: 1.5em; margin-bottom:30px;}
.concerns-button{font-style: normal; font-family: "Montserrat", sans-serif; font-weight:500 !important; letter-spacing:0 !important;}
.concerns-button:hover{ background: linear-gradient(90deg,#984d43 0,#c27063 68%,#57221a 100%) !important;}

/*CONTACT US*/
.main-contact-us {padding-bottom:50px}
.main-contact-us .container {border-bottom: 2px solid  #BE6F62}
.main-contact-us h1 { font-size: 90px; font-style: italic; font-weight:bold; color:#000; line-height: 1em; margin-bottom: 30px;}
.main-contact-us p, .main-contact-us a {font-size: 18px; font-weight:600; color: #BE6F62; margin-bottom: 45px}
.content-contact-us input, .content-contact-us textarea, .content-contact-us .jcf-checkbox {border: 1px solid #BE6F62;}
.content-contact-us input, .content-contact-us textarea, .content-contact-us .row-checkbox label{font-family: "Montserrat", sans-serif; font-weight:normal}
.content-contact-us input.btn, .content-contact-us input.btn:hover {font-family: "Montserrat", sans-serif; text-transform: uppercase; font-style:normal; font-weight: bold; background: #BE6F62; color: #fff !important ; border-radius: 0; border: none; padding: 10px 20px; font-size: 15px;}
.content-contact-us .phone-row .jcf-select {border-right: 1px solid #BE6F62 !important}
.content-contact-us .row-checkbox {padding-left: 15px}
.content-contact-us .row-buttons {justify-content:center}

/*ACCOUNT*/
#login-block .section-header{background: none; padding: 60px 0; margin: 0}
#login-block .section-header h1{color:#000; font-style: italic; font-weight: bold}

.log-in-block {border-top:none;}
.log-in-block .col{margin:10px !important; border: 1px solid #BE6F62 !important; text-align:center !important; padding:26px 50px !important}
.log-in-block h2,.log-in-block input, .log-in-block h5, .log-in-block label{font-family:'Montserrat', sans-serif !important;}
.log-in-block h2 {text-transform:uppercase;}

.log-in-block input[type="text"], .log-in-block input[type="tel"], .log-in-block input[type="email"], .log-in-block input[type="search"], .log-in-block input[type="password"], .log-in-block input[type="url"], .log-in-block textarea{
border: 1px solid #BE6F62 !important; padding: 15px!important; height:40px; font-size:13px; font-family:'Montserrat', sans-serif; }
.log-in-block .row .show-hidden {line-height:40px;}
.log-in-block input.btn, .log-in-block input.btn:hover{border: none; text-transform:uppercase; font-style:normal; letter-spacing:0}

.log-in-block .col-login input.btn, .log-in-block .col-login input.btn:hover{background:#BE6F62; color:#fff}
.log-in-block .col-login .forgot{font-size: 10px;}
.log-in-block .col-login #rc_login a {text-transform:uppercase; border: 1px solid #be6f62; padding:8px 18px; color: #be6f62}

.log-in-block .col-register{background: #BE6F62;}
.log-in-block .col-register h2, .log-in-block .col-register .checkbox-row label, .log-in-block .col-register .checkbox-row label a{color: #fff}
.log-in-block .col-register input.btn, .log-in-block .col-register input.btn:hover{background:#000; color:#fff;}
.log-in-block .col-register .checkbox-row .jcf-checkbox{border: 1px solid #fff; background: none;}
.log-in-block .col-register .checkbox-row label{font-size:10px;}


/*QUIZ*/
/*REMOVE section-header FROM TEMPLATE --> {% include 'page-title' %}*/
#quiz div.page-width.page-width-913 {max-width: none!important; padding:0!important;padding-left:0!important; padding-right:0!important}

#quiz div.start{max-width: none; margin:0!important; width:100%!important; background-image: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/41/assets/Skin-Quiz_Banner-bg.jpg?v=1625609297)!important; background-size: cover!important; background-repeat: no-repeat!important;}
#quiz .start{padding: 100px 0!important;max-width: none;margin: 0!important;}
#quiz .start h1.headline{line-height: 80px; margin-bottom: 20px !important;}
#quiz .start h1.headline{font-family:'Playfair Display', serif; /*text-transform: none;*/ font-weight: bold; color:#000; font-style: normal; font-size: 80px; text-shadow: 3px 3px 8px rgb(61 26 3 / 70%);}
#quiz .start .sub-headline {text-transform:uppercase; max-width:100% !important; color: #000; font-size: 24px}
#quiz .start a.btn{width:200px; font-style: normal; font-family: "Montserrat", sans-serif; font-weight:500 !important; letter-spacing: 0; border:none !important;}
#quiz .start a.btn:hover{border: 1px solid #BE6F62 !important;}*/

#quiz .questions .question-count{font-family:'Playfair Display', serif; font-weight:bold; color:#000; font-style:normal; margin-bottom: 1.5rem}
#quiz .questions .question-title{font-size: 18px!important; font-family: 'Montserrat',sans-serif!important; text-transform: uppercase; font-weight: bold; margin-bottom: 1rem; color: #BE6F62;}

#quiz .questions{max-width: 964px!important; margin: auto;padding-top:50px}
#quiz .answers{background: #F5E2DC; padding: 0 0 15px 15px!important;}
#quiz .answers .answer {margin: 15px 15px 0 0!important; padding: 15px!important; border-radius: 0!important; /*width: 455px!important;*/ box-shadow: 3px 3px 8px 0 rgb(190 111 98 / 30%); text-transform:uppercase; font-weight:500; color: #BE6F62; font-size:18px;}

#quiz .questions .questions-nav {justify-content: center!important; padding: 30px; font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-style: normal; font-weight: bold}
#quiz .questions .questions-nav a {padding:8px 40px; margin:8px; border: 1px solid #BE6F62;}
#quiz .questions .questions-nav a.back {color: #BE6F62; }
#quiz .questions .questions-nav a.next {color: #fff; background: #BE6F62;}

.quiz-results-title{padding: 60px 0;}
div.title-row.text-center.quiz-results-title h2{text-transform:uppercase; line-height:1.5em}


/* CART */
#sca_fg_cart{margin-top:0!important}
#shopify-section-cart-template .section-header{background:none; padding-top:0}
#shopify-section-cart-template .section-header h1{color:#000; font-weight:bold; font-style: italic;}
#shopify-section-cart-template .section-header p, .section-header center{font-family:'Montserrat', sans-serif !important; font-weight: bold; color: #BE6F62}
#shopify-section-cart-template .section-header p {background:#f5e2dc}
#shopify-section-cart-template .section-header center{width: fit-content; margin: auto; padding: 0px 10px; border: 1px solid #BE6F62;}

#shopify-section-cart-template thead.cart__row{background-color:transparent!important}
#shopify-section-cart-template tr.border-top {border-top:1px solid #BE6F62 !important}
#shopify-section-cart-template tr.border-bottom {border-bottom:1px solid #BE6F62 !important}

#shopify-section-cart-template a.continue-shopping, #shopify-section-cart-template .cart_col_first th, #shopify-section-cart-template .cart__footer h4, #shopify-section-cart-template .cart__subtotal-title {font-family:'Montserrat', sans-serif !important; font-weight: bold!important; color: #BE6F62!important; text-transform: uppercase!important;}
#shopify-section-cart-template .cart__qty-input, #shopify-section-cart-template .remove_item a.btn, #shopify-section-cart-template .remove_item a.btn:hover, #shopify-section-cart-template a.continue-shopping {font-family:'Montserrat', sans-serif !important;font-weight:bold; color:#BE6F62!important; text-transform: uppercase!important; border: 1px solid #BE6F62!important; font-style:normal;background:none!important}
#shopify-section-cart-template .remove_item a.btn i, #shopify-section-cart-template a.continue-shopping svg{display: none}
#shopify-section-cart-template .remove_item a.btn, #shopify-section-cart-template a.continue-shopping {padding: 5px 16px;}
#shopify-section-cart-template span#total_ {color: #000; font-weight:400!important}
#shopify-section-cart-template #cbb-shipping-rates-calculator-form .jcf-select, #shopify-section-cart-template #zipCode, .cbb-shipping-rates-calculator-update-button, .cbb-shipping-rates-calculator {border: 1px solid #BE6F62 !important}
#shopify-section-cart-template input.btn.btn--small-wide.cart__submit.cart__submit-control.visible_checkout, #shopify-section-cart-template button.cbb-shipping-rates-calculator-update-button {background-color: #BE6F62!important; border: 1px solid #BE6F62!important; font-family: 'Montserrat', sans-serif!important; font-weight: 500!important; font-style: normal!important; text-transform: uppercase!important; letter-spacing: 0!important; color: #FFF!important;}

.paypal-button.paypal-button-color-gold {background: none!important; border: 1px solid #BE6F62 !important; border-radius: 0px!important;}
.paypal-button-logo {filter: grayscale(100%)!important;}

#shopify-section-cart-template .cart_col_second h4, #shopify-section-cart-template .cart_col_second p, #shopify-section-cart-template .cart_col_second a {font-family: 'Montserrat', sans-serif; letter-spacing: 0; text-align: center; color: #000; font-weight: 500!important;}
#shopify-section-cart-template .cart_col_second h4, #shopify-section-cart-template a.quick-view {text-transform: uppercase;}
#shopify-section-cart-template a.quick-view{ background-color: transparent; color: #BE6F62}
#shopify-section-cart-template .related_prods_h {font-size:15px}
#shopify-section-cart-template p.product__title {line-height: 1.5em;}
#shopify-section-cart-template .yotpo .yotpo-bottomline .yotpo-icon-star, #shopify-section-cart-template .yotpo .yotpo-bottomline .yotpo-icon-half-star, #shopify-section-cart-template .yotpo .yotpo-bottomline .yotpo-icon-empty-star{color: #000;}
#shopify-section-cart-template .yotpo.bottomLine.yotpo-small {margin-top: 5px;}
#shopify-section-cart-template a.text-m {color: #000!important; margin-left: 5px;}

#shopify-section-cart-template span.cbb-shipping-rates-calculator-update-button-text.translatable {color: #fff!important;}

/*FREE SAMPLES*/
#shopify-section-cart-template .wrap_free .quick-view {color: #BE6F62 !important; text-decoration: underline; }
#shopify-section-cart-template .wrap_free input.btn.single_btn{font-family: 'Montserrat'; font-style: normal; font-weight: 600; text-transform: uppercase; letter-spacing: 0; color: #be6f62; background: #FFF; border-color: #be6f62;}

/*PROD QUICKVIEW*/
.fancybox-skin {background: #FFF!important; color: #000}
#quick-view .qv-product-title {font-family: 'Playfair Display', serif; color: #000!important}
#quick-view .qv-product-original-price, #quick-view .qv-product-price, #quick-view .qv-product-original-price, #quick-view .qv-product-price, #quick-view .qv-product-description, #quick-view button.slick-next.slick-arrow, #quick-view button.slick-prev.slick-arrow, #quick-view .quantity input[type=number] {font-family: 'Montserrat', sans-serif!important; letter-spacing: 0!important}
#quick-view .qv-product-original-price, #quick-view .qv-product-price {font-weight: 400; font-size:20px!important}
#quick-view .quantity span {text-transform: uppercase !important; font-weight: 600; color: #BE6F62}
#quick-view hr {border: none!important}
#quick-view .quantity input[type=number] {border-color: #BE6F62; color: #BE6F62}
#quick-view .qv-add-button {background: linear-gradient(90deg,#984d43 0,#c27063 68%,#57221a 100%)!important; letter-spacing:0!important; font-family: 'Montserrat', sans-serif!important;}
#quick-view .accordion {border-top: none!important}
#quick-view .accordion .link {background: transparent!important; color: #BE6F62; text-transform:uppercase!important; border-bottom: none!important}
#quick-view .fa-chevron-down:before {color: #BE6F62}
#quick-view button.slick-next.slick-arrow, #quick-view button.slick-prev.slick-arrow {text-transform:uppercase; font-size:14px!important}
#quick-view .qv-product-description {color: #000!important}
#quick-view .view-product span {border: 1px solid #BE6F62!important; color: #BE6F62!important; padding: 5px 10px;}

/*MINICART*/
#minicart-content .bag-title p a, #minicart-content span.cart__subtotal-title, #minicart-content #minicart-subtotal .cart__subtotal, #minicart-content #minicart-subtotal .btn {font-family: 'Montserrat', sans-serif!important;}
#minicart-content .bag-title p a, #minicart-content span.cart__subtotal-title {color: #BE6F62!important;}
#minicart-content .bag-title p a {text-transform: uppercase!important}
#minicart-content #minicart-subtotal .btn {letter-spacing:0!important; font-style: normal!important; background: #BE6F62!important; color: #FFF!important; border:none!important; text-transform:uppercase!important}

/*WISHLIST*/
div.iwishMsg {padding: 5px 10px;}
.iwishMsg, .iwishMsg a { background: #F5E2DC; text-align: center; color: #BE6F62; font-weight: 500;}
.iWishLoginNote, .iwishMsgSuccess, .iwishMsgError, .iwishMsgInfo {margin-bottom:0!important}

.iwishWrapper.shopify-section .title-filter{text-align:center; border-bottom: 1px solid #BE6F62; margin-bottom: 25px; padding: 50px 0;}
.iwishWrapper.shopify-section .title-filter h1{color:#000; font-weight:bold; font-style: italic; margin:0}

.iwishWrapper.shopify-section .iwishProducts .product-item{border:none; box-shadow: 3px 3px 16px 0px #F5E2DC;padding: 20px 11px 11px !important;}
.iwishWrapper.shopify-section div.add-to-cart-quick{color: #BE6F62!important}
.iwishWrapper.shopify-section .addtc-bag{stroke: #FFF !important}
.iwishWrapper.shopify-section .iwishProducts a, .iwishWrapper.shopify-section .iwishProducts button {font-family: 'Montserrat', sans-serif !important; font-style: normal; letter-spacing: 0}
.iwishWrapper.shopify-section .iwishProducts h4 a {font-size: 18px; line-height: 1.4em;}
.iwishWrapper.shopify-section .iwishProducts .product-item .footer {display:inline-block; background:none; border-top:none; font-size: 12px; font-weight:600}
.iwishWrapper.shopify-section .iwishProducts button.iwishBuyBtn {text-transform: uppercase; font-size: 12px; padding: 10px 0; margin: 0!important;}
.iwishWrapper.shopify-section .iwishProducts a.iwishRemoveBtn {text-transform: uppercase;margin-top: 10px; font-weight: 600; color: #BE6F62;}
.iwishWrapper.shopify-section .iwishProducts button.iwishBuyBtn {color: #BE6F62!important; text-transform: uppercase; font-size: 12px; padding: 10px 20px; border: 1px solid #BE6F62; margin-right: 10px!important; margin-top: 0!important; width: fit-content;}
.iwishWrapper.shopify-section .iwishProducts .product-item .footer .icon-bag{display:none;}
.iwishWrapper.shopify-section .iwishProducts #button-widget .fastcheckout_buy_button, .iwishWrapper.shopify-section .iwishProducts #button-widget .fastcheckout_buy_button[disabled]{background-color: #BE6F62!important; border-color: #BE6F62!important; min-width:0!important; width:100% }

.iwishWrapper.shopify-section .iwishShareContainer{text-align: end;}
.iwishWrapper.shopify-section .shareTitle {color: #BE6F62; font-weight: 500; display: block;}
.iwishWrapper.shopify-section .iwishEmail:not(.iwishShareBtn_no_css) {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/41/assets/Wishlist_Email_icon.svg?v=1625697944) no-repeat; background-position: center;}
.iwishWrapper.shopify-section .iwishFb:not(.iwishShareBtn_no_css) {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/41/assets/Wishlist_Facebook_icon.svg?v=1625697957) no-repeat; background-position: center;}
.iwishWrapper.shopify-section .iwishTw:not(.iwishShareBtn_no_css) {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/41/assets/Wishlist_Twitter_icon.svg?v=1625697967) no-repeat; background-position: center;}
.iwishWrapper.shopify-section .iwishShareBtn:not(.iwishShareBtn_no_css) {width: 20px}


/*PRODUCT SINGLE*/
*#shopify-section-product-template .breadcrumbs {padding: 50px 0 8px!important; margin-bottom: 70px; border-bottom: 1px solid #BE6F62;}
#shopify-section-product-template .breadcrumbs ul{font-weight: 500; font-size: 12px; font-family: "Montserrat", sans-serif; color: #BE6F62;}
#shopify-section-product-template .breadcrumbs a{font-weight: 300; font-size: 12px; font-family: "Montserrat", sans-serif; color: #BE6F62;}
#shopify-section-product-template .breadcrumbs ul li:after{color: #BE6F62;}
#shopify-section-product-template #ProductSection-product-template h1.product-single__title{font-family:'Playfair Display', serif; font-style:normal; color: #000; }
#shopify-section-product-template #ProtSection-product-template .product-single a {text-decoration: none; font-weight: 300}
#shopify-section-product-template #ProductSection-product-template .yotpo .yotpo-bottomline .yotpo-icon-star, #shopify-section-product-template #ProductSection-product-template .yotpo .yotpo-bottomline .yotpo-icon-half-star, #shopify-section-product-template #ProductSection-product-template .yotpo .yotpo-bottomline .yotpo-icon-empty-star {color: #000;}
.yotpo .text-m, .yotpo .text-m:hover {color: #000 !important;}
#shopify-section-product-template #ProductSection-product-template .product-single .product__price {font-weight: 400; font-size: 20px; font-family: "Montserrat", sans-serif; border-bottom:none; padding-bottom: 0}
.rte a:not(.btn){border-bottom: none}
/* #shopify-section-product-template #ProductSection-product-template .product-form__item label {display: none;} */
#shopify-section-product-template #ProductSection-product-template .jcf-select-single-option-selector {border: 1px solid #BE6F62}
#shopify-section-product-template #ProductSection-product-template .jcf-select .jcf-select-opener:after {border-left: 1px solid #BE6F62; border-bottom: 1px solid #BE6F62;}
#shopify-section-product-template #ProductSection-product-template .jcf-select-single-option-selector .jcf-select-text {font-family: "Montserrat", sans-serif; font-style: normal; color: #BE6F62;}
#shopify-section-product-template #ProductSection-product-template .jcf-number input {font-family:"Montserrat", sans-serif; font-style: normal; font-weight: 500; color: #BE6F62; border: 1px solid #BE6F62;}
#shopify-section-product-template #ProductSection-product-template .jcf-number .jcf-btn-inc {border-left: none; background: none!important;}
#shopify-section-product-template #ProductSection-product-template .jcf-number .jcf-btn-dec {border: none; background: none!important;}
.jcf-number .jcf-btn-dec:before, .jcf-number .jcf-btn-inc:before {color: #BE6F62;}
.product-form__item--no-variants{max-width:none!important}
button#AddToCart-product-template.btn.product-form__cart-submit{padding: 0; font-family:"Montserrat", sans-serif; font-style: normal; font-weight: 500; text-transform: uppercase !important; letter-spacing: 0; }
#shopify-section-product-template #ProductSection-product-template button.fastcheckout_buy_button.shake_vertical{padding: 8px 17px; font-weight: 500;}
#shopify-section-product-template #ProductSection-product-template div#button-widget{justify-content:center}
#shopify-section-product-template #ProductSection-product-template .product-form__item--submit>div>a{font-family:"Montserrat", sans-serif; font-style: normal; font-weight: 300; line-height:32px; text-transform: uppercase !important; letter-spacing: 0; color:#BE6F62; background:none !important; padding:0!important; margin-top:10px}
button#AddToCart-product-template.btn.product-form__cart-submit {background-color: balck;  border: 1px solid black; margin-right: 6px; margin-left: 6px; font-size: 14px;}
  .accordion{border-color: none; border-top: none; }
  .accordion > li, .accordion > li{border-bottom: none; }
  .accordion .title-slide{font-family:"Montserrat", sans-serif; font-style: normal; font-weight: 500; text-transform: uppercase !important; color:#BE6F62; border-bottom: 1px solid #BE6F62; padding: 15px 35px 5px 0;}
 .accordion .title-slide::before, .accordion .title-slide::after {background: #BE6F62; opacity:1;}
#shopify-section-product-template #ProductSection-product-template p.short_desc, #shopify-section-product-template #ProductSection-product-template .slide p{line-height:1.6em; color: #333;}
#shopify-section-product-template #ProductSection-product-template .slide h4{font-family: 'Montserrat', sans-serif}
#shopify-section-product-template #ProductSection-product-template .product-single a {color: #000; text-decoration: none;}
/* #shopify-section-product-template #ProductSection-product-template .product-single__photo{box-shadow: 3px 3px 16px 0px #F5E2DC;} */
button.btn.btn--link.medium-up--hide.thumbnails-slider__btn.thumbnails-slider__next.thumbnails-slider__next--product-template, button.btn.btn--link.medium-up--hide.thumbnails-slider__btn.thumbnails-slider__prev.thumbnails-slider__prev--product-template {padding: 18px!important; background: none!important; color: black!important;   border: none!important;
}

#shopify-section-product-template .related-products-section {padding-bottom:100px; margin-top: 3pc;}
#shopify-section-product-template .related-products-section h2 > i::after{display: none;}
#shopify-section-product-template .related-products-section h2 {text-align: center; text-transform: uppercase; }
#shopify-section-product-template .related-products-section h2 i{font-style: normal;}
#shopify-section-product-template .related-products-section h2>i {padding-right:0}
#shopify-section-product-template .related-products-section .product-item{border: none;}
#shopify-section-product-template .related-products-section li.grid__item {padding: 0 17px 17px !important;}
#shopify-section-product-template .related-products-section .product-item .head {padding: 0 40px}
#shopify-section-product-template .related-products-section li.grid__item h4 a {font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 18px; line-height: 1.4em}
#shopify-section-product-template .related-products-section .product-item .price {font-family: 'Montserrat', sans-serif; color: #000}
#shopify-section-product-template .related-products-section .product-item img {box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);}
#shopify-section-product-template .related-products-section .product-item .footer{display:block; font-family: 'Montserrat', sans-serif; font-style: normal; text-transform: uppercase; font-weight: 500; border-top:none; background: none}
#shopify-section-product-template .related-products-section .product-item .footer>li{border-left:none}
#shopify-section-product-template .related-products-section .product-item .footer button{text-transform: uppercase;}
#shopify-section-product-template .related-products-section button.fastcheckout_buy_button.shake_vertical{text-transform:none}
#shopify-section-product-template .related-products-section .product-item .footer span.icon-bag, #shopify-section-product-template .related-products-section .product-item .footer span.icon-details {display: none;}

/*SHEILA'S CLOSET*/
.main-page.main-sheilas-closet {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/46/assets/sheilas-closet-banner.jpg?v=1626122516) no-repeat center center !important; /*background-size: cover !important;*/ padding: 150px 0 !important; margin-bottom:50px}
.content-sheilas-closet .container {max-width:1000px}
.main-sheilas-closet h1 {font-size: 90px; text-align: end !important; color:#000; font-style:italic; margin-bottom: 0px;}
.content-sheilas-closet h2 {font-family: 'Playfair Display', serif; font-weight: bold; color: #FFF; font-size: 70px;}
.tops-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/46/assets/sheilas-closet-tops.jpg?v=1626123278) no-repeat center center !important;
padding: 150px 0;}
.bottoms-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/46/assets/sheilas-closet-bottoms.jpg?v=1626123252) no-repeat center center !important;
padding: 150px 0;}
.sunglasses-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/46/assets/sheilas-closet-sunglasses.jpg?v=1626123261) no-repeat center center !important;
padding: 150px 0;}
.sweaters-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/46/assets/sheilas-closet-sweaters.jpg?v=1626123270) no-repeat center center !important;
padding: 150px 0;}
.content-sheilas-closet a:hover {color: #BE6F62; /*text-shadow: 3px 3px 8px rgb(61 26 3 / 90%);*/}



/*SHEILA'S CLOSET NEW*/
.h1-banner-closet { font-family:Didot;font-size:84px;text-align:center;color:#fff;}
a { color: #473DEF; text-decoration: underline;}
a:not([disabled]):hover, a:focus { color: #404040;}
.content-sheilas-closet-new a { color: #fff !important;}
.content-sheilas-closet-new a:hover { color: #BE6F62 !important;}
.page_sheilas-closet h1.main-page-title.page-title { display: none;}
@media (max-width: 749px) {
  .h1-banner-closet { font-size:40px;}
}
.main-page.main-sheilas-closet-new.desktop {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/46/assets/sheilas-closet-banner.jpg?v=1626122516) no-repeat center center !important; /*background-size: cover !important;*/ padding: 100px 0 !important; margin-bottom:50px}
.main-sheilas-closet-new h1 {font-size: 90px; text-align: end; color:#000; font-style:italic; font-family: 'Playfair Display', serif;}
.main-sheilas-closet-new.mobile { display:none; margin-bottom:40px;}

@media (max-width: 749px) {
  .main-page.main-sheilas-closet-new.desktop { display:none}
  .main-sheilas-closet-new.mobile { display:block}
  .main-sheilas-closet-new.mobile img { width:100%; height:auto }
}
.content-sheilas-closet-new .container {max-width:1140px}
.content-sheilas-closet-new .col-sm-4 {margin: 8px; padding: 114px 0; max-width:364px; min-width:320px}
.content-sheilas-closet-new h2 {font-family: 'Didot', serif; font-weight: bold; color: #FFF; font-size: 54px;margin-bottom: 0; line-height: 1.3em;}
.content-sheilas-closet-new a:hover {color: #BE6F62; /*text-shadow: 3px 3px 8px rgb(61 26 3 / 90%);*/}
.content-sheilas-closet-new .tops-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-tops-2.jpg?v=1653663759) no-repeat center center !important;}
.content-sheilas-closet-new .bottoms-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-bottoms.jpg?v=1653498019) no-repeat center center !important;}
.content-sheilas-closet-new .sunglasses-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-sunglasses.jpg?v=1653498199) no-repeat center center !important;}
.content-sheilas-closet-new .sweaters-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-sweaters.jpg?v=1653498243) no-repeat center center !important;}
.content-sheilas-closet-new .coats-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-coats.jpg?v=1653498037) no-repeat center center !important;}
.content-sheilas-closet-new .dresses-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-dresses.jpg?v=1653498062) no-repeat center center !important;}
.content-sheilas-closet-new .jackets-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-jackets.jpg?v=1653498080) no-repeat center center !important;}
.content-sheilas-closet-new .jumpsuits-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-jumpsuits.jpg?v=1653498123) no-repeat center center !important;}
.content-sheilas-closet-new .kids-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-kids.jpg?v=1653498139) no-repeat center center !important;}
.content-sheilas-closet-new .shoes-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-shoes.jpg?v=1653498156) no-repeat center center !important;}
.content-sheilas-closet-new .jewelry-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-jewelry.jpg?v=1653498096) no-repeat center center !important;}
.content-sheilas-closet-new .bags-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/56/assets/sheilas-closet-bags.jpg?v=1653497942) no-repeat center center !important;}
.homec-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/collections/home_2048x.jpg?v=1643134745) no-repeat center center !important;}
.sets-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/collections/sets3_2048x.jpg?v=1643134762) no-repeat center center !important;}
.pets-div {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/collections/pets_2048x.jpg?v=1643134763) no-repeat center center !important;}

/*TRAVEL ESSENTIALS*/
.main-page.main-travel-essentials.desktop {background: url(https://cdn.shopify.com/s/files/1/0066/5681/9236/t/47/assets/travel-essentials_banner.jpg?v=1629841528) no-repeat center center !important; padding: 150px 0 !important; margin-bottom:50px;}
.main-travel-essentials h1 {font-size: 90px; text-align: end; color:#000; font-style:italic;}
.main-travel-essentials.mobile { display:none; margin-bottom:40px;}

@media (max-width: 749px) {
  .main-page.main-travel-essentials.desktop { display:none}
  .main-travel-essentials.mobile { display:block}
  .main-travel-essentials.mobile img { width:100%; height:auto }
}

.content-travel-essentials .container {max-width:780px}
.content-travel-essentials h2 {font-family: 'Didot', serif; font-weight: bold; color: #FFF; font-size: 54px;margin-bottom: 0; line-height: 1.3em;}
.content-travel-essentials a:hover {color: #BE6F62; /*text-shadow: 3px 3px 8px rgb(61 26 3 / 90%);*/}

.accordion-content a{
  text-decoration: underline !important;
  font-weight: 800;
  font-size: 13px;
}
.vendor a{
  text-decoration: underline !important;
    font-weight: 800;
    font-size: 16px;
}
#shopify-section-product-template .breadcrumbs{
  padding: 20px 0 8px !important;
  margin-bottom: 20px;
  text-overflow: ellipsis;
}
#shopify-section-product-template .breadcrumbs li:last-child{
  display: none;
}
.second_li:after{
  display: none !important;
}
.product__price{
  font-weight: 800 !important;
}
/* .product-form{
  padding-top: 0 !important;
} */
.shopify-payment-button__more-options {
  color: #BE6F62!important;
  border: 1px solid #BE6F62!important;
  text-decoration: initial!important;
}
.shopify-payment-button div {
  width: 100%;
}
/*.shopify-payment-button{
  display: none !important;
}
.iwishAddWrap{
  display: none !important;
}*/
.accordion-content{
  margin-top: 0px;
}
#shopify-section-product-template #ProductSection-product-template div#button-widget{
  display: none !important;
}
.product-form__item {
  display: block;
  margin: 0 0 20px;

  padding: 0;
}
.accordion .slide li{
  list-style: inside !important;
}
.template-product .short_desc{
  margin-bottom: 0;
}
.accordion .slide ul{
  font-family: Montserrat;
  font-size: 13px;
}
.go1889483518{
  padding-left: 3px !important;
  font-size: 12px !important;
}
@media (min-width: 1200px){
  .main-navigation a {
      font-size: 17px;
      font-weight: 500;
  }

  }
.rd_more_blog{
  max-width: 200px;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;
}
#yotpo_testimonials_btn{
  display: none !important;
}